<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django_test</title>
  </head>
  <body style="background-color: rgb(240, 104, 104)">
    <h1>Hello World!</h1>
    <p style="color: brown">Welcome to my first Django project!</p>
    <div
      style="
        background-color: aqua;
        padding-right: 50px;
        padding-top: 5px;
        padding-bottom: 50px;
        padding-left: 50px;
        margin-left: 50px;
        margin-right: 90%;
      "
    >
      <p>fdd</p>
    </div>
  </body>
</html>
